.smallInputsDiv > .cardAddText{
    width:80%;
}
p{
    font-family: 'Merienda', cursive;
}
@media screen and (max-width: 1090px) {
    #addCard > .card-body{
        width: 100%;
        margin: 0
    }
}

@media screen and (max-width: 670px) {
    
    .cardAddText{
        width: 100%;
        margin: auto
    }
    .cardAddText > .smallInputs{
        width: 100%;
        margin: auto
    }
    .smallInputsDiv{
        margin-bottom: 18%;
    }
}